<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Weather Conditions</title>
  <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
  <!-- 
  <link href="{{ url_for('static', filename='src/styles/tailwind.css') }}" rel="stylesheet" /> -->
</head>

<body>
  <h1 class="text-orange-500 text-7xl">Get Weather Conditions</h1>
  <form action="/weather">
    <input class=" bg-gray-700 text-black" type="text" name="city" id="city" placeholder="Enter a City" />
    <button class="bg-orange-500" type="submit">Submit</button>
  </form>
</body>

</html>